.*
!/.gitignore
*.sh

# Folders
custom_components/
deps/
downloads/
themes/
tts/
www/community/
www/custom_ui/

# Log & DB
home-assistant.log
home-assistant_v2.db

# Discovered devices
harmony_*.conf
known_devices.yaml

# Secrets
ip_bans.yaml
secrets.yaml
