# Ignore most .files
.*
!/.gitignore
!.HA_VERSION

# Scripts
*.sh

# Folders
custom_components/
deps/
downloads/
glances/
node-red/
themes/
tts/
www/community/
www/custom_ui/

# Log, DB, dump
home-assistant.log
home-assistant_v2.db*
core

# Discovered devices
harmony_*.conf
known_devices.yaml
emulated_hue_ids.json

# Secrets
ip_bans.yaml
secrets.yaml

# Ignore appdaemon folder, except apps.yaml
appdaemon/
!appdaemon/apps/apps.yaml
